body{
	background-color: aqua; 
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   padding-top: 0;
}
.box {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.row {
   display: flex;
}
.box{
text-align:center;
 margin: 0 auto;
}
.cell {
   height: 80px;
   width: 80px;
   border: 1px solid #000;
   display: block;
   margin: 0;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}

.row:nth-child(odd) .cell:nth-child(even) {
	
background-color: green;
}
.row:nth-child(even) .cell:nth-child(odd) {
	 background-color: green;
}

.row:nth-child(2) .cell{
background-image: url('./img/b-pawn.png');
;
}
.row:nth-last-child(2) .cell{
background-image: url('./img/w-pawn.png');
;
}


.row:first-child .cell:last-child,
.row:first-child .cell:first-child{
background-image: url('./img/b-rook.png');
}
.row:last-child .cell:last-child,
.row:last-child .cell:first-child{
background-image: url('./img/w-rook.png');
}
.row:first-child .cell:nth-child(7),
.row:first-child .cell:nth-child(2){
background-image: url('./img/b-horse.png');
}
.row:last-child .cell:nth-child(7),
.row:last-child .cell:nth-child(2){
background-image: url('./img/w-horse.png');
}
.row:first-child .cell:nth-child(6),
.row:first-child .cell:nth-child(3){
background-image: url('./img/b-bishop.png');
}
.row:last-child .cell:nth-child(6),
.row:last-child .cell:nth-child(3){
background-image: url('./img/w-bishop.png');
}
.row:first-child .cell:nth-child(4){
background-image: url('./img/b-king.png');
}
.row:last-child .cell:nth-child(4){
background-image: url('./img/w-king.png');
}
.row:first-child .cell:nth-child(5){
background-image: url('./img/b-queen.png');
}
.row:last-child .cell:nth-child(5){
background-image: url('./img/w-queen.png');
}

/* rules for description, no need for trapining */
.description {
   width: 100%;
   font-family: Arial, Helvetica, sans-serif;
   text-align: left;
   max-width: 650px;
   margin-bottom: 10px;
}

.description h1 {
    margin: 0 auto 10px;
    text-align: center;
}

.description p {
    /* max-width: 500px; */
    margin: 0 auto 10px 0;
    text-align-last: left;
    line-height: 1.5;
}
.description ul {
   margin: 0;
}
.description p,
.description li {
    cursor: text;
}

.description a {
    display: block;
}

details {
   cursor: pointer;
}

summary:focus {
   outline: none;
   cursor: pointer;
}